<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
  
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="GENERATOR" content="Microsoft SharePoint" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="Expires" content="0" />

    <link href="~/js/DashBoard/css/corev15.css" rel="stylesheet" type="text/css" />
    <link href="~/js/DashBoard/css/orange.css" rel="stylesheet" type="text/css">
    <link href="~/js/DashBoard/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/js/DashBoard/css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="~/js/DashBoard/css/pagination.css" rel="stylesheet" type="text/css">
    <link href="~/js/DashBoard/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/UATAdmin.css" rel="stylesheet" type="text/css" />
    <link href="~/js/DashBoard/css/rte.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Custom.css" rel="stylesheet" />
    <script type="text/javascript" src="https://static.sharepointonline.com/bld/_layouts/15/16.0.5729.1207/1033/initstrings.js"></script>

    <script type="text/javascript" src="~/js/DashBoard/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/jquery-ui-1.8.11.custom.min.js"></script>
    <script src="~/js/DashBoard/js/init.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/Resource.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/security.js"></script>
    @*<script type="text/javascript" src="~/js/DashBoard/js/jPoint.min.js"></script>*@
    
    <script type="text/javascript" src="~/js/DashBoard/js/main.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/AddUsers.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/jquery.betterTooltip.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/Formatting.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/serviceLayer.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/DashBoard/js/msajaxbundle.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/multiselect.js"></script>
    <script type="text/javascript" src="~/js/Common/UserInfo.js"></script>

    @* for common Page *@

    <script type="text/javascript" src="~/js/Common/showgrid.js"></script>

    @* End *@

    @* for Stakeholder Page *@

    <script type="text/javascript" src="~/js/StakeholderDashboard/Elycharts/raphael.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/Elycharts/elycharts.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/Elycharts/elychartsTemplates.js"></script>
    
    <script type="text/javascript" src="~/js/StakeholderDashboard/more-show.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/scenario-show.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/tab-gui.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/Elycharts/raphael.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/report_newDesign_harshal.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/report_Consolidate1.js"></script>
    <script type="text/javascript" src="~/js/StakeholderDashboard/ExportToPPT.js"></script>
    @* End *@



    @* for TestPass Page *@
    <script type="text/javascript" src="~/js/TestPass/AddUsers.js"></script>
    <script type="text/javascript" src="~/js/TestPass/CreateDD.js"></script>
   
    <script type="text/javascript" src="~/js/TestPass/TestPass.js"></script>
    

    <script type="text/javascript" src="~/js/TestPass/CreateDD.js"></script>
    <script type="text/javascript" src="~/js/TestPass/html2canvas.js"></script>
    <script type="text/javascript" src="~/js/TestPass/jquery.plugin.html2canvas.js"></script>

    @* End *@


    @* for Test case Page *@
    <script type="text/javascript" src="~/js/TestCase/testcase.js"></script>
    <script type="text/javascript" src="~/js/TestCase/dropdown.js"></script>
    <script type="text/javascript" src="~/js/TestCase/import.js"></script>
    <script type="text/javascript" src="~/js/TestCase/export.js"></script>
    <script type="text/javascript" src="~/js/TestCase/multiselectddl.js"></script>
    @* End *@





    @*Test Step*@
    <script type="text/javascript" src="~/js/TestStep/teststep.js"></script>

    <script type="text/javascript" src="~/js/TestStep/multiselectddl_teststep.js"></script>
    <script src="~/js/TestPass/leftnavlinks.js"></script>
    <script src="~/js/TestStep/importteststeps.js"></script>
      <script type="text/javascript" src="~/js/TestStep/copyimagewithdata.js"></script>
    @*End*@









    
    <script type="text/javascript" src="~/js/DashBoard/js/dashboard.js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/richtext_copy(1).js"></script>
    <script type="text/javascript" src="~/js/DashBoard/js/html2xhtml.min.js"></script>




    <script type="text/javascript">
        themeColor = "blue";
        var isRootWeb = true;
        var isPortfolioOn = true;
        var currentUserEmailID = null;
        var currentUserFullName = null;
        var currentUserLogInName = null;
        var currentUserSPUserID = null;
        var currentUser = "";
        //var sipUrl = 'harshal.wadaskar@rgensoft.com';
        var sipUrl = 'contact@click2cloud.net';
        var nameCtrl = null;
        var _spUserId = '';
        gPortfolioID = '';

        $(document).ready(function () {

            if (!func._checkIfUserLoginorNot()) {
                func.redictFailed();
             return false;
            }
            else {
                _spUserId = func.GetSPUserId();
                //_spUserId = '19';
                Main.pageLoad();

                /*show login user in ribbon*/
                UserInfo.showUserName();

                $('#tabTestManagement a').attr('class', 'selHeading');

                /*For New Hover Over text*/
                var gConfigProject = 'Project';
                var gConfigTestPass = 'Test Pass';
                var gConfigTestCase = 'Test Case';
                var gConfigTestStep = 'Test Step';
                var gConfigTriage = 'Triage';
                var gConfigFeedback = 'Feedback';
                var gConfigStatus = 'Status';
                var gConfigTester = 'Tester';
                var gConfigActivities = 'Activities';
                var gConfigQuery = 'Query';
                var gConfigLead = 'Lead';
                var gConfigManager = 'Test Manager';
                var gConfigStakeholder = 'Stakeholder';
                var gConfigAttachments = 'Attachments';
                var gConfigGroup = 'Group';
                var gConfigPortfolio = 'Portfolio';
                var gConfigVersion = 'Version';
                var gConfigRole = 'Role';


                if (resource.isConfig.toLowerCase() == 'true') {
                    gConfigProject = resource.gPageSpecialTerms['Project'] == undefined ? 'Project' : resource.gPageSpecialTerms['Project'];
                    gConfigTestPass = resource.gPageSpecialTerms['Test Pass'] == undefined ? 'Test Pass' : resource.gPageSpecialTerms['Test Pass'];
                    gConfigTestCase = resource.gPageSpecialTerms['Test Case'] == undefined ? 'Test Case' : resource.gPageSpecialTerms['Test Case'];
                    gConfigTestStep = resource.gPageSpecialTerms['Test Step'] == undefined ? 'Test Step' : resource.gPageSpecialTerms['Test Step'];
                    gConfigTriage = resource.gPageSpecialTerms['Triage'] == undefined ? 'Triage' : resource.gPageSpecialTerms['Triage'];
                    gConfigFeedback = resource.gPageSpecialTerms['Feedback'] == undefined ? 'Feedback' : resource.gPageSpecialTerms['Feedback'];
                    gConfigStatus = resource.gPageSpecialTerms['Status'] == undefined ? 'Status' : resource.gPageSpecialTerms['Status'];
                    gConfigTester = resource.gPageSpecialTerms['Tester'] == undefined ? 'Tester' : resource.gPageSpecialTerms['Tester'];
                    gConfigActivities = resource.gPageSpecialTerms['Activities'] == undefined ? 'Activities' : resource.gPageSpecialTerms['Activities'];
                    gConfigQuery = resource.gPageSpecialTerms['Query'] == undefined ? 'Query' : resource.gPageSpecialTerms['Query'];
                    gConfigLead = resource.gPageSpecialTerms['Lead'] == undefined ? 'Lead' : resource.gPageSpecialTerms['Lead'];
                    gConfigManager = resource.gPageSpecialTerms['Test Manager'] == undefined ? 'Test Manager' : resource.gPageSpecialTerms['Test Manager'];
                    gConfigStakeholder = resource.gPageSpecialTerms['Stakeholder'] == undefined ? 'Stakeholder' : resource.gPageSpecialTerms['Stakeholder'];
                    gConfigAttachments = resource.gPageSpecialTerms['Attachments'] == undefined ? 'Attachments' : resource.gPageSpecialTerms['Attachments'];
                    gConfigGroup = resource.gPageSpecialTerms['Group'] == undefined ? 'Group' : resource.gPageSpecialTerms['Group'];
                    gConfigPortfolio = resource.gPageSpecialTerms['Portfolio'] == undefined ? 'Portfolio' : resource.gPageSpecialTerms['Portfolio'];
                    gConfigVersion = resource.gPageSpecialTerms['Version'] == undefined ? 'Version' : resource.gPageSpecialTerms['Version'];
                    gConfigRole = resource.gPageSpecialTerms['Role'] == undefined ? 'Role' : resource.gPageSpecialTerms['Role'];


                }

                if (!isPortfolioOn)//if portfolio is disable
                {
                    //For Hover Over Text:-Addd by Mohini
                    $("#navProjects").attr('title', 'First, foremost and mandatory step in test data creation. A ' + gConfigProject + ' can have multiple ' + gConfigTestPass + 'es.');
                    $("#navTestPasses").attr('title', 'Second mandatory step in test data creation. ' + gConfigTestPass + ' could be assigned to ' +
                                 'multiple ' + gConfigTester + 's and  can have mutiple ' + gConfigTestCase + 's in it.');

                    $("#navTesters").attr('title', 'Third mandatory step in test data creation. ' + gConfigManager + ' can assign ' + gConfigTester + 's ' +
                                       'with some ' + gConfigRole + 's for a ' + gConfigTestPass + ' who will execute all ' + gConfigTestStep + 's associated with the same ' + gConfigRole.toLowerCase() + 's.');

                    $("#navTestCases").attr('title', 'Fourth mandatory step in test data creation. Before creating ' + gConfigTestCase + 's, ' +
                                   gConfigTester + 's needs to be assigned for ' + gConfigTestPass + '. ' + gConfigTestCase + ' is a group of ' + gConfigTestStep + 's.');

                    $("#navTestSteps").attr('title', 'Fifth mandatory step in test data creation. ' + gConfigTestStep + 's are actual actions ' +
                                   'that a ' + gConfigTester + ' has to perform to perform \'UAT\' of application under UAT phase.');

                    $("#navAttachments").attr('title', 'Sixth non-mandatory step in test data creation. ' + gConfigManager + ' can ' +
                                      'attach or view files associate with a ' + gConfigTestStep + '.');

                    $("#navBulkImport").attr('title', 'Bulk Import ' + gConfigTestPass + 'es, ' + gConfigTester + 's, ' + gConfigTestCase + 's and ' + gConfigTestStep + 's using excel based template.');
                }
                else {
                    $('#prjTabTitle').html('First, foremost and mandatory step in test data creation. User can create a new ' + gConfigGroup + ', ' + gConfigPortfolio + ', ' + gConfigProject + ' and ' + gConfigVersion +
                   ' here. Level Hierarchy: ' + gConfigGroup + ' --> ' + gConfigPortfolio + '(s) --> ' + gConfigProject + '(s) --> ' + gConfigVersion + '(s).<br/> A ' + gConfigVersion + ' can have multiple ' + gConfigTestPass + 'es. ');
                    $("#navProjects").attr('title', $('#prjTabTitle').html());
                    $("#navTestPasses").attr('title', 'Second mandatory step in test data creation. ' + gConfigTestPass + ' could be assigned to ' +
                                 'multiple ' + gConfigTester + 's and  can have mutiple ' + gConfigTestCase + 's in it.');

                    $("#navTesters").attr('title', 'Third mandatory step in test data creation. ' + gConfigManager + ' can assign ' + gConfigTester + 's ' +
                                       'with some ' + gConfigRole + 's for a ' + gConfigTestPass + ' who will execute all ' + gConfigTestStep + 's associated with the same ' + gConfigRole.toLowerCase() + 's.');

                    $("#navTestCases").attr('title', 'Fourth mandatory step in test data creation. Before creating ' + gConfigTestCase + 's, ' +
                                   gConfigTester + 's needs to be assigned for ' + gConfigTestPass + '. ' + gConfigTestCase + ' is a group of ' + gConfigTestStep + 's.');

                    $("#navTestSteps").attr('title', 'Fifth mandatory step in test data creation. ' + gConfigTestStep + 's are actual actions ' +
                                   'that a ' + gConfigTester + ' has to perform to perform \'UAT\' of application under UAT phase.');

                    $("#navAttachments").attr('title', 'Sixth non-mandatory step in test data creation. ' + gConfigManager + ' can ' +
                                      'attach or view files associate with a ' + gConfigTestStep + '.');

                    $("#navBulkImport").attr('title', 'Bulk Import ' + gConfigTestPass + 'es, ' + gConfigTester + 's, ' + gConfigTestCase + 's and ' + gConfigTestStep + 's using excel based template.');
                }
                $('.navHead').betterTooltip();//added by Mohini for increasing the delay time of hover over text
            }


        });

        /*Added for Yammer and Lync integration*/
        function ShowOOUI() {
            try {
                if (!nameCtrl) {
                    return;
                }
                nameCtrl.ShowOOUI(sipUrl, 0, 15, 15);
            }
            catch (ex) {
            }
        }

        function HideOOUI() {
            try {
                if (!nameCtrl) {
                    return;
                }
                nameCtrl.HideOOUI();
            }
            catch (ex) {
            }
        }
    </script>

    <style type="text/css">
        /***********************trupti : log in user in ribbon*/
        .userNameDiv {
            position: relative;
            color: #0F0;
            font-weight: bold;
            /*extra*/
            margin-bottom: 10px;
            padding-left: 20px;
            white-space: nowrap;
            display: inline-block; /*important*/
            height: 30px;
            line-height: 30px;
        }

        .userWDiv:hover {
            background-color: #e7e8ff;
            border-right: 1px solid #ccc;
        }

        .logOutDiv:hover {
            background-color: #e7e8ff;
        }

        .userWDiv {
            padding: 10px;
            border-radius: 5px 5px 0px 0px;
        }

        .logOutDiv {
            position: absolute;
            top: 30px;
            left: 20px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 5px;
            z-index: 100; /* Thanks Diego for pointing out the typo here */
            background-color: white;
            display: none;
            /*extra*/
            padding: 5px 10px 0px 10px;
            border-radius: 0px 0px 5px 5px;
        }

        /**********trupti***********/
        .tTip {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        .ms-support-icon {
            float: left;
            margin-right: 0.5em;
            cursor: pointer;
            background-image: url(/images/lync-support.png);
            background-repeat: no-repeat;
            background-position: bottom left;
            padding: 15px 0px 0px 20px;
        }

        .ms-imnlink {
            padding: 0px 0px 0px 0px !important;
        }

        ms-imnSpan1 {
            position: relative;
            overflow: hidden;
            white-space: nowrap;
        }

        a:hover {
            text-decoration: none;
        }

        .activeNav {
            cursor: auto !important;
        }
    </style>
</head>
<body class="ms-backgroundImage" style="overflow-x:auto !important;overflow-y: scroll !important;">
    <div class="tip" style="left: 723.04px; top: 158px; display: none;"><div class="tipMid">&nbsp;</div><div class="tipBtm"></div></div><div class="tip" style="left: 723.04px; top: 158px; display: none;"><div class="tipMid">&nbsp;</div><div class="tipBtm"></div></div>
    <form id="aspnetForm" onsubmit="javascript:return WebForm_OnSubmit();" method="post">




        <script src="https://static.sharepointonline.com/bld/_layouts/15/16.0.5729.1208/blank.js" type="text/javascript"></script>
        @*<script type="text/javascript">
                //<![CDATA[
                (function () {

                    if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
                        return;
                    }
                    _spBodyOnLoadFunctions.push(function () {
                        SP.SOD.executeFunc('core.js', 'FollowingDocument', function () { FollowingDocument(); });
                    });
                })(); (function () {

                    if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
                        return;
                    }
                    _spBodyOnLoadFunctions.push(function () {
                        SP.SOD.executeFunc('core.js', 'FollowingCallout', function () { FollowingCallout(); });
                    });
                })(); if (typeof (DeferWebFormInitCallback) == 'function') DeferWebFormInitCallback(); function WebForm_OnSubmit() {
                    UpdateFormDigest('\u002fsites\u002fUAT\u002fTestV2.0', 1440000); if (typeof (_spFormOnSubmitWrapper) != 'undefined') { return _spFormOnSubmitWrapper(); } else { return true; };
                    return true;
                }
                //]]>
            </script>*@


        <!-- handles SharePoint scripts -->
        <script type="text/javascript">
            //<![CDATA[

            //]]>
        </script>
        <div title="Prerequesites for Active-X" id="activeX-form" style="margin-bottom: 15px; display: none;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img width="20" height="20" id="imgActivex" alt="" src="../images/Information.png"><span style="margin-left: 5px; vertical-align: top;">
                                <b>Steps to enable Active-X settings of Internet Explorer:</b>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 30px;">
                                <b>Step1 :</b> Go to Tools &gt;
                                Internet options &gt; Security &gt; Local Intranet Zone
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 30px;">
                                <b>Step2 :</b> Select Sites &gt;
                                Click Advanced and add current url in to the list.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 30px;">
                                <b>Step3 :</b> Go to Local
                                Intranet Zone &gt; Custom level and enable ‘Initialize and
                                script Active-X controls not marked as safe for scripting’ setting.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 30px;">
                                <b>Step4 :</b> Refresh the
                                browser
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span style="text-align: left; margin-left: 30px;">
                                <b>Note:</b>
                                Enabling Active-x in your browser will not harm your
                                software security in any manner.
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="wrapper-hd" style="background-size: 100% 100%;">
            <div class="header" style="padding-left: 20px;">
                <a class="adv" style="border: currentColor; height: 90px; cursor: default;" href="#"><img style="width: 1005px;" alt="Customized banner goes here" src="~/images/theme/banner-dashboard.jpg" complete="complete"></a>
                <a class="logo" style="float: left; cursor: default;" href="#"><img style="padding-bottom: 6px; padding-left: 20px; margin-top: 5px;" alt="logo" src="~/images/logo-c2c.png"></a>
            </div>
            <table style="width:100%">
                <tbody>
                    <tr style="height: 43px;">
                        <td style="width: 80%; padding-left: 8px;">
                            <div class="nav">
                                <ul style="width: 1000px;">
                                    <li><a title="" class="tTip" id="dash" href="/Dashboard">Dashboard</a></li>
                                    <li id="tabTestManagement">
                                        <a title="" class="selHeading" id="testMgnt" href="/Dashboard/ProjectMgnt">Test Management</a>
                                    </li>
                                    <li><a title="" class="tTip" id="rpt" href="/Report/Index">Reports</a></li>
                                    <li><a title="" class="tTip" id="qury" href="/Query/Index">Query</a></li>
                                    <li><a title="" class="tTip" id="fee" href="/Feedback/Index">Feedback</a></li>
                                    <li><a title="" class="tTip" id="sync" style="color: gray;">Sync</a></li>
                                    <li><a title="" class="tTip" id="config" href="/Configuration/Index">Configuration</a></li>
                                    <li><a title="" class="tTip" id="trig" href="/Triage/Index">Triage</a></li>
                                    <li><a title="" class="tTip" id="dashStak" href="/StakeholderDashboard/Index">Stakeholder Dashboard</a></li>
                                    <li><img id="yammer" style="padding: 12px 7px 0px 5px; width: 23px; cursor: pointer;" src="~/images/Yammerlogo.png"></li>
                                    <li>
                                        <div class="ms-support" onmouseover="ShowOOUI()" onmouseout="HideOOUI()">
                                            <div class="ms-support-icon" id="indicator" style="margin-right: 0px;" onclick="window.open('sip:contact@click2cloud.net', '_self');">
                                                <span class="ms-imnSpan1">
                                                    <a class="ms-imnlink" onclick="IMNImageOnClick(event);return false;" href="#">
                                                        <span class="ms-spimn-presenceWrapper ms-imnImg ms-spimn-imgSize-10x10" id="indicatorImg" style="overflow: hidden; white-space: nowrap; position: relative;"><img class="ms-spimn-img ms-spimn-presence-offline-10x10x32" id="StatusImg" style="cursor: pointer; max-width: none !important;" alt="/images/spimn.png" src="/images/spimn.png"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td align="left">
                            <span class="userNameDiv">
                                <span id="userW" class="userWDiv"></span>
                                <span class="logOutDiv">
                                    <a asp-area="" style="color:black" id="Logout" asp-controller="Login" asp-action="Index">
                                        Log Out
                                    </a>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-full">

                @RenderBody()

                <div style="width: 100%;">

                    <!-- Left Navigation starts -->
                    <div id="LeftPanel">
                        <table id="navHeading" style="width: 100%;" cellspacing="0">
                            <tbody>
                                <tr><td class="gridHeadingRow" style="height: 20px;"></td> </tr>
                                <tr>
                                    <td title="" class="navHead" id="navProjects" onclick="AutoCompleteTextbox.leftNavClick('Dashboard','ProjectMgnt');">
                                        <img src="~/images/Admin/g_Current Folder.png"><div>
                                            <span id="tab1">PROJECTS</span><br><p>Step 01</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navTestPasses" onclick="AutoCompleteTextbox.leftNavClick('TestPass','Index');">
                                        <img src="~/images/Admin/g_Medium Thumbnail View.png"><div>
                                            <span id="tab2">TEST PASSES</span><br><p>Step 02</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navTesters" onclick="AutoCompleteTextbox.leftNavClick('Tester','Index');">
                                        <img src="~/images/Admin/g_Login User.png"><div>
                                            <span id="tab3">TESTERS</span><br><p>Step 03</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navTestCases" onclick="AutoCompleteTextbox.leftNavClick('TestCase','Index');">
                                        <img src="~/images/Admin/g_Details View.png"><div>
                                            <span id="tab4">TEST CASES</span><br><p>Step 04</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navTestSteps" onclick="AutoCompleteTextbox.leftNavClick('TestStep','Index')">
                                        <img src="~/images/Admin/b_List View.png"><div>
                                            <span id="tab5">TEST STEPS</span><br><p>Step 05</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navAttachments" onclick="AutoCompleteTextbox.leftNavClick('attachment','Index')">
                                        <img src="~/images/Admin/g_Attachment.png"><div>
                                            <span id="tab6">ATTACHMENTS</span><br><p>Step 06</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="" class="navHead" id="navBulkImport" onclick="AutoCompleteTextbox.leftNavClick('BulkDownloadImportTemplate','Index');">
                                        <img src="~/images/Admin/g_Upload.png"><div>
                                            <span id="tab7">BULK IMPORT</span><br><p>Import Test Scripts</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="gridHeadingRow" id="div2" style="width: 100%; height: auto; min-height: 300px;">
                            &nbsp;
                        </div>
                    </div>
                    <!-- Left Navigation ends -->
                    <!-- Right Details section starts -->
                    <div id="RightPanel">


                    </div>
                    <!-- Right Details section starts -->
                    <div id="prjTabTitle" style="display: none;">First, foremost and mandatory step in test data creation. User can create a new Group, Portfolio, Project and Version here. Level Hierarchy: Group --&gt; Portfolio(s) --&gt; Project(s) --&gt; Version(s).<br> A Version can have multiple Test Passes. </div>
                </div>

            </div>
        </div>
        <div id="wrapper-ft" style="background-size: 100% 100%;">
        </div>
        <div id="autoHideAlert"></div>


        <script type="text/javascript">
            //<![CDATA[

        </script>
    </form>
    <span id="DeltaPlaceHolderUtilityContent">

    </span>
    <script type="text/javascript">
        // <![CDATA[



        var g_Workspace = "s4-workspace";
        // ]]>
    </script>


    <div id="popup" style="display:none;" class="modal-box">
        <input type="hidden" id="HdnModalvalue" />
        <header style="cursor:move!important">
            <a href="#" class="js-modal-close close">×</a>
            <h3>People Picker</h3>
        </header>
        <div class="modal-body">
            <div>
                <label style="margin-left:4px;">Find</label>&nbsp;<input id="txtFindBox"  type="text" class="text-primary" style="width:422px;height:20px;" /><img style="width: 28px; position: absolute;" src="~/images/search.png" />
            </div>

            <div id="DivListUser" style="height: 290px; margin-top: 10px;display:inline">

                <div id="DivAllItem" style="margin: 5px;  width: 98%; height: 298px;overflow-x:hidden;overflow-y:scroll">

                </div>


            </div>

        </div>
        <hr />
        <input type="button" value="Add" id="btnAddModel" disabled="disabled" class="ui-button" style="position:absolute;left:0px;" />&nbsp;
        <div id="DivmodalInputBox" spellcheck="false" paste="return false;" class="divModalInputStake" contenteditable="true"></div>


        <div style="padding-bottom:2px;position:absolute;right:0px;bottom:0px;padding-right:16px;">
            <input type="button" value="Ok" id="btnOkModal" disabled="disabled" class="ui-button" /><input id="btnCancelModal" type="button" value="Cancel" class="ui-button" />
        </div>

    </div>
</body>
</html>
@* Added by Atul.s *@
<script type="text/javascript">
    var x = setInterval(function () {
        if ($('.btnNew1').length>0) {
            $('.btnNew1').click(function () {
                if ($.unblockUI != undefined) {
                    setTimeout($.unblockUI, 500);
                }
            });
            clearInterval(x);
        }
    },1000)
</script>